@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px)
	/**/
	.h1 
		position: relative
	.img-bee 
		top: -55px
		left: 0
		transform: translateX(-90%)
@media only screen and (max-width : 1200px)
	.content 
		overflow: hidden
	.circles
		right: -15px
	.wrapper
		max-width: 80%
@media only screen and (max-width : 1100px)
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.header 
		position: static
		justify-content: space-between
		align-items: center
	.header__menu
		padding-top: 0

	.logo 
		position: static
	
	.page
		min-height: auto
		flex-direction: column 
		align-items: flex-start
		justify-content: flex-start
		flex-direction: column
	.slider__image
		height: 107.488vw
	.slider-wrapper
		height: auto
		width: 100%	
		overflow: hidden
	.circle
		width: 22.464vw
		height: 22.464vw
		bottom: 16.667vw
		right: 93%
	.slick-dots
		bottom: 4.348vw
	.header__phone
		span 
			display: none
	.header__line
		margin-left: 18px 
		margin-right: 18px
	.header__login img
		margin-left: 13px
	.logo
		img 
			width: 79px
	.header__menu
		padding-right: 30px
	.circles
		display: none
	.content
		width: 100%
	.img-bee
		transform: translateX(-123%)
	.content
		min-height: auto
	.footer 
		margin-top: 168px
	.slider-wrapper 
		position: relative
	.content
		background-position: top right
	.checkout-title__col
		margin-left: 12px
	.checkout__col:nth-child(2)
		width: 14vw
	.full-screen-page
		background-position: right -6vw top
	.tabs
		min-width: 175px
	.tab-items
		width: calc(100% - 175px)

	
	
	


	
	


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	body 
		font-size: 15px
	.slick-dots li button
		width: 7px 
		height: 7px
	.header 
		padding-bottom: 10px
	.leaf 
		display: none
	.content 
		padding-top: 52px
	.img-bee
		width: 140px
	.img-bee
		top: -30px
		transform: translateX(-23vw)
	.content 
		position: relative
		overflow: visible
	.content:after
		content: url('../img/mobile-circle.svg')
		position: absolute 
		right: 0 
		top: 0
		transform: translateY(-50%)
		z-index: 999
	.login-modal-content
		max-width: 77.778vw 
	.login-modal-content
		padding: 15px 18px 20px 18px
	.content
		background-size: 70px
	.container 
		max-width: 85vw
	.checkout-table__row
		flex-direction: column 
		align-items: flex-start
	.checkout__title
		position: static
		transform: translateY(0)
		font-weight: 600
	.product-row
		.checkout__title
			display: none
	.checkout__col 
		width: 100%
	.checkout-table
		padding-left: 0px 
		padding-right: 0px
		padding-bottom: 0
		padding-top: 23px
	.checkout-title__col
		min-height: auto
	.checkout__col:first-child,
	.checkout__col:nth-child(2),
	.checkout__col:nth-child(3),
	.checkout__col:nth-child(4)
		width: 100%
	.checkout__col:first-child
		margin-bottom: 28px
	.checkout__col
		min-height: auto
		padding-left: 18px 
		padding-right: 18px
		margin-bottom: 15px
	.checkout__col
		display: flex 
		justify-content: space-between 
		align-items: center
		.quantity-wrapper 
			margin-right: 0
	.price-title
		font-weight: 400
	.checkout__col
		font-weight: 400
	.checkout__col:nth-child(4)
		margin-bottom: 25px
	.checkout-table__footer-wrapper
		flex-direction: column
	.checkout-table 
		margin-top: 19px
	.checkout-delivery-details 
		padding-top: 30px
		padding-left: 17px 
		padding-right: 17px
	.add-gift__item
		.checkout-table
			padding-top: 0
	.add-gift__header
		flex-direction: column
		align-items: flex-start
	.add-gift__button
		width: 100% 
		background: $green
		color: #fff 
		justify-content: center 
		align-items: center
		padding-top: 20px 
		padding-bottom: 20px
		margin-top: 15px
		
		svg 
			fill: #fff
	.add-gift__header-content 
		padding-left: 20px 
		padding-right: 20px
	.checkout-footer
		flex-direction: column
	.checkout-button
		width: 100%
	.checkout-footer__col--right
		padding-top: 30px 
		margin-top: 20px 
		border-top: 1px solid #D4D4D4
	.checkout-table
		.checkout__title
			display: block
	.checkout-table .checkout-title__col .checkout__title
		display: none
	.full-screen-page
		background: url('../img/thank-you-bg-mob.svg')
		background-repeat: no-repeat
		background-size: 90vw
		background-position: top right 11vw
		align-items: flex-start
		padding-top: 28vw
	.account-row
		flex-direction: column
	.tabs 
		width: 100% 
		max-width: 100%
		min-width: 100%
		display: flex
		flex-direction: column	
		min-height: 47px
		height: 47px
		z-index: 99
		border-top: 1px solid #E2E2E2
		border-bottom: 1px solid #E2E2E2
		position: relative
		margin-bottom: 37px
	.tabs:after
		content: url('../img/triangle.svg')
		position: absolute 
		top: 11px
		right: 17px
		z-index: 99
		
	.tab 
		margin-bottom: 0
		padding: 9px 15px
		display: none
		background: #fff
		border-left: 1px solid #E2E2E2
		border-right: 1px solid #E2E2E2
	.tab:last-child 
		border-bottom: 1px solid #E2E2E2
	
	.tab.active 
		display: block
		font-weight: 400
	.tabs.active 
		.tab 
			display: block
	.tab-items
		width: 100%
	.account-page .h2
		margin-bottom: 25px
	.mobil-title
		display: block
	.orders-row--header
		display: none
	.orders-row
		flex-direction: column
		border: 1px solid #DCDCDC
		margin-bottom: 28px
	.orders-col
		width: 100% 
		justify-content: space-between
		padding-left: 20px 
		padding-right: 20px
		padding-top: 8px 
		padding-bottom: 8px
	.orders-row
		padding-left: 0
	.mobil-title
		font-weight: 600
	.orders-row
		font-size: 15px
	.orders-row:hover 
		background: #fff
	.order-arrow
		display: none
	.view-order
		display: flex 
		justify-content: center 
		align-items: center
		background: #F8F8F8 
		padding-top: 8px 
		padding-bottom: 8px
		margin-top: 22px
		font-size: 14px 
		font-weight: 600
	.orders-row
		padding-bottom: 0
	.order-detail__col:first-child
		width: auto
	.order-detail__col:nth-child(2)
		width: auto
	.order-detail-row
		display: flex 
		justify-content: space-between
	.order-detail__col:first-child 
		font-weight: 600
	.order-detail-row:first-child 
		display: none
	.back-order
		display: block
		text-decoration: none 
		color: $main-color
		margin-bottom: 20px
		img 
			margin-right: 5px
	.tabs--order
		display: none
	.back-order:hover 
		color: $main-color
	.deliver-title
		font-size: 15px 
		margin-bottom: 10px
	.account-page
		padding-top: 25px
	
	.admin-login
		flex-direction: column-reverse
	.admin-ligin-img
		width: 100%
		height: 100vw
	.admin-login
		height: auto
	.admin-login__content
		width: 100%
		padding-top: 40px 
		padding-bottom: 40px
	.admin-login-title
		font-size: 30px
	.admin-menu
		display: none
		padding-bottom: 40px
	.admin-menu-wrapper
		flex-direction: row-reverse
	.admin-menu.active 
		display: flex
		flex-direction: column
		align-items: center
		position: absolute 
		top: 77px 
		left: 0
		width: 100vw 
		background: $green

	.admin-link
		margin-left: 0
		margin-top: 25px
	.admin-header
		padding-left: 0
	.menu-btn
		display: block
	.content:after
		animation: fadeInFromNone 5s linear infinite
	@-webkit-keyframes circle-rotate
		0%
			transform: translateX(0) translateY(0)
		20%
			transform: translateX(0px) translateY(-45px)
		50%
			transform: translateX(0px) translateY(-100px)
		70%
			transform: translateX(0px) translateY(-45px)
		100%
			transform: translateX(0px) translateY(0px)
	.circle-xs
		width: 20px 
		right: 6px


	







	




		



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.img-bee
		transform: translateX(-120px)
	.h1 
		font-size: 30px
		margin-bottom: 0
	.sub-title
		font-size: 20px
	.h3 
		font-size: 20px
	.content-button-wrapper 
		margin-top: 30px
	.footer 
		margin-top: 68px
		flex-direction: column
	.footer__link 
		margin-bottom: 20px
	.h2 
		font-size: 30px
	.input-wrapper 
		margin-top: 20px
	.forgot-password
		margin-top: 20px
	.article
		font-size: 25px
	.quantity-wrapper
		margin-right: 15px
	.green-button
		margin-top: 24px
	.proceed-item
		padding: 21px 17px
	.proceed-item__arrow
		top: 23px 
		right: 18px
		img 
			width: 18px
	.code-error__content
		padding-left: 15px
	.error-title
		font-size: 15px
	.proceed-item
		img 
			width: 14px
	.footer--static
		.container 
			flex-direction: column
			text-align: center
			.footer__link 
				margin-left: 0
	.checkout-page
		padding-top: 30px

@media only screen and (max-width : 380px)
	.checkout-title
		font-size: 17px
/* Custom, iPhone Retina */
@media only screen and (max-width : 365px)
	/**/
	body 
		font-size: 14px
	.header__line
		margin-left: 10px 
		margin-right: 10px
	.header__login img
		margin-left: 5px
	.header__menu
		padding-right: 15px
	

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





