@import "vars"
@import "fonts"

//start global style 
body 
    font-family: $main-font 
    font-size: 16px
    color: $main-color
.h1 
    color: $secondary-color
    font-family: $secondary-font
    font-weight: 500 
    font-size: 44px
    margin-bottom: 8px
.sub-title
    font-size: 26px
    font-weight: 400
    margin-bottom: 27px
    color: $grey
p 
    line-height: 1.7
.h3 
    font-size: 22px 
    font-weight: 700
    color: $grey
.h2 
    font-size: 36px
    color: $grey
    font-weight: 500 
    font-family: $secondary-font
.green-button
    background: $green 
    color: #fff
    cursor: pointer
    width: 163px
    height: 45px
    display: flex 
    justify-content: center 
    align-items: center
    border-radius: 50px
    font-weight: 600
    transition: all .3s
    margin-top: 40px
.green-button:hover 
    background: #72AB6E

//end global style

.page 
    min-height: 100vh 
    display: flex
    justify-content: flex-end
.slider-wrapper 
    width: 50vw 
    height: 100vh
    position: fixed
    top: 0 
    left: 0
    z-index: 996
.content 
    min-height: 100vh 
    width: 50vw
    padding-top: 160px
    position: relative
    background: url('../img/bee.svg')
    background-repeat: no-repeat 
    background-position: top 576px right
.slider__image
    height: 100vh
    width: 100%
    object-fit: cover
    object-position: center
.slick-dots
    display: flex 
    justify-content: center 
    align-items: center 
    margin: 0 
    padding: 0
    z-index: 99 
    position: absolute 
    bottom: 25px
    left: 50%
    transform: translateX(-50%)
    list-style: none
    li 
        margin: 0 5px
        button 
            font-size: 0 
            border: none 
            width: 10px 
            height: 10px 
            background: #fff 
            border-radius: 50%
            padding: 0 
            outline: none
    .slick-active 
        button
            background: #000
.header 
    display: flex 
    justify-content: flex-end
    align-items: center
    position: absolute 
    width: 100% 
    top: 0
    left: 0
    z-index: 999
.header__menu
    display: flex 
    align-items: center
    padding-top: 50px
    padding-right: 40px
    a 
        color: $main-color 
        text-decoration: none
.header__line
    width: 1px 
    height: 28px
    background: #ADADAD
    margin: 0 28px
.header__login
    img 
        margin-left: 15px
//start header style
.logo 
    position: fixed 
    top: 0 
    left: 0
    z-index: 999
//end header style
.leaf 
    position: absolute 
    bottom: 181px
    right: -42px
.circle 
    right: -39px 
    bottom: 79px
    position: absolute
    z-index: 99
.wrapper
    width: 474px 
    max-width: 90%
    margin-left: auto 
    margin-right: auto
    height: 100%
    display: flex 
    flex-direction: column 
    justify-content: space-between

//start footer style
.footer 
    width: 100% 
    display: flex 
    justify-content: space-between 
    align-items: center
    padding-bottom: 27px
    margin-top: 194px
.footer--full-screen
    margin-top: 50px
.footer__link
    color: $light-grey
    text-decoration: none
.footer__link:hover 
    color: $light-grey
    font-size: 15px
//end footer style 

.content-button-wrapper
    margin-top: 38px
.img-bee
    position: absolute 
    top: 100px
    left: -60px
.h1 
    //position: relative
.circles
    position: absolute 
    right: 0 
    top: 197px

//start login modal
.login-modal
    position: fixed 
    width: 100% 
    height: 100% 
    top: 0 
    left: 0
    background: rgba(#86C582BF, .75) 
    z-index: 999
    display: none
.login-modal-content
    background: #fff
    position: absolute 
    top: 15% 
    left: 50%
    transform: translateX(-50%)
    padding: 70px 94px 56px 94px
    width: 598px
    
    form 
        width: 100%
.input,
.textarea,
.select
    width: 100%
    height: 45px
    border: 1px solid #E2E2E2
    background: #FFF
    outline: none
    padding: 0 14px
.input::placeholder,
.textarea::placeholder
    color: #1B1B1B
.input:focus::placeholder,
.textarea:focus::placeholder 
    color: transparent
.input-wrapper

    margin-top: 24px
.label 
    font-weight: 600
    color: #1B1B1B
    margin-bottom: 12px
.button 
    width: 100% 
    background: $secondary-color
    border: none 
    color: #fff
    height: 45px
    margin-top: 34px
    border-radius: 50px
    font-weight: 600
    transition: all .3s
.button:hover 
    background: #970F30
.forgot-password
    text-align: center
    text-decoration: none
    display: block
    color: $main-color
    margin-top: 23px
.forgot-password:hover 
    color: $main-color
.close-modal
    position: absolute 
    top: 20px 
    right: 15px
    cursor: pointer 
.header__login
    cursor: pointer 
.quantity-wrapper
    position: relative
    z-index: 999
    width: 111px
    border: 1px solid #DBDBDB
    display: flex 
    justify-content: space-between
    align-items: center
    height: 50px
    border-radius: 50px
    font-size: 18px 
    font-weight: 600 
    color: #000
    margin-right: 21px
    button 
        outline: none 
        border: none
        height: 100%
        padding: 0 17px
        background: transparent
        font-size: 18px
        font-weight: 600
        color: #000
        
    input 
        width: 100%
        text-align: center 
        border: none 
        height: 100%
        margin: 0 
        padding: 0
        display: block
        outline: none
        font-size: 18px
        font-weight: 600
        color: #000
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
.article
    font-size: 30px
    font-weight: 600
    color: $grey
.content-button-wrapper
    display: flex 
    align-items: center
    margin-bottom: 38px
//end login modal

//start proceed item
.proceed-item
    width: 100% 
    padding: 24px
    border: 1px solid #D4D4D4
    background: #FFF
    position: relative
    cursor: pointer
    margin-bottom: 28px
    min-height: 162px
.proceed-item__arrow
    position: absolute 
    top: 28px 
    right: 26px
    cursor: pointer
.proceed-item:hover
    background: #F8F8F8
    border: 1px solid $green
.proceed-item__content
    display: none
.close-item
    display: none
.proceed-item.active
    background: #F8F8F8
    border: 1px solid $green
    .green-button 
        display: none
    .proceed-item__content
        display: block
    .close-item 
        display: block
    .down-arrow
        display: none
.code-wrapper
    position: relative
.code-button
    height: 24px 
    position: absolute 
    top: 50% 
    right: 0
    transform: translateY(-50%)
    font-size: 14px
    display: flex 
    justify-content: center 
    align-items: center
    padding: 0 17px
    background: transparent 
    border: none
    outline: none
    border-left: 1px solid #BDBDBD
    font-size: 14px 
    font-weight: 600 
    color: #BDBDBD
    pointer-events: none
.code-button:focus 
    outline: none
.code-button.active
    color: #1B1B1B
    pointer-events: all
.proceed-item__content-wrapper
    padding-top: 26px
    display: none
.proceed-item__content-wrapper.active 
    display: block
.error-title
    font-size: 17px 
    font-weight: 600
    margin-bottom: 2px
.code-error
    display: flex
    align-items: flex-start
    img 
        margin-top: 15px
.code-error__content
    padding-left: 24px
.code-wrapper--succes
    .code-button
        display: none
    input 
        background-image: url('../img/succ.svg')
        background-repeat: no-repeat 
        background-position: right 15px center
.input-wrapper--multu
    .input 
        margin-bottom: 10px
.input-row 
    display: flex 
    justify-content: space-between 
    .input 
        width: 48%
.textarea 
    height: 126px 
    padding-top: 9px
.checkbox-wrapper
    display: flex 
    align-items: center
    margin-top: 20px
.checkbox
    display: none
.checkox-label
    width: 32px 
    height: 32px
    border: 1px solid #E2E2E2
    background: #FFF
    margin-right: 6px
    cursor: pointer
.checkbox:checked + .checkox-label
    background: $green
    background-image: url('../img/checkbox.svg')
    background-repeat: no-repeat
    background-position: center
    border: none
.form-footer
    text-align: center
    margin-top: 18px
    font-weight: 600
    padding-bottom: 20px
    a 
        color: #000
    a:hover 
        color: #000
.input--error
    border: 1px solid #F3818B
    background: rgba(243, 129, 139, 0.27)
    color: #B82347
.input--error::placeholder 
    color: #B82347
.form-footer--red
    color: #B82347
    padding-bottom: 0
.select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    background-image: url('../img/triangle.svg')
    background-repeat: no-repeat
    background-position: right 18px center
    cursor: pointer
.pick-up__content
    display: none 
.pick-up__content.active
    display: block
.pick-up__content
    padding-top: 12px
.link 
    color: $main-color 
    text-decoration: underline
.link:hover 
    color: $main-color
    margin-bottom: 36px
//end proceed item

@import "media"




