@import "vars"
@import "fonts"

//start global style 
body 
    font-family: $main-font 
    font-size: 16px
    color: $main-color
.h1 
    color: $secondary-color
    font-family: $secondary-font
    font-weight: 500 
    font-size: 44px
    margin-bottom: 8px
.h1--black 
    color: $grey
    margin-bottom: 89px
.sub-title
    font-size: 26px
    font-weight: 400
    margin-bottom: 27px
    color: $grey
p 
    line-height: 1.7
.h3 
    font-size: 22px 
    font-weight: 700
    color: $grey
.h2 
    font-size: 36px
    color: $grey
    font-weight: 500 
    font-family: $secondary-font
.green-button
    background: $green 
    color: #fff
    cursor: pointer
    width: 163px
    height: 45px
    display: flex 
    justify-content: center 
    align-items: center
    border-radius: 50px
    font-weight: 600
    transition: all .3s
    margin-top: 40px
    border: none
    outline: none
.green-button:focus 
    outline: none
.green-button:hover 
    background: #72AB6E
.container 
    width: 1196px 
    padding-left: 0 
    padding-right: 0 
    max-width: 90vw
.container-xl
    width: 1320px
    padding-left: 0 
    padding-right: 0
    max-width: 90vw
//end global style

.page 
    min-height: 100vh 
    display: flex
    justify-content: flex-end
.slider-wrapper 
    width: 50vw 
    height: 100vh
    position: fixed
    top: 0 
    left: 0
    z-index: 996
.content 
    min-height: 100vh 
    width: 50vw
    padding-top: 160px
    position: relative
    background: url('../img/bee.svg')
    background-repeat: no-repeat 
    background-position: top 576px right
.slider__image
    height: 100vh
    width: 100%
    object-fit: cover
    object-position: center
.slick-dots
    display: flex 
    justify-content: center 
    align-items: center 
    margin: 0 
    padding: 0
    z-index: 99 
    position: absolute 
    bottom: 25px
    left: 50%
    transform: translateX(-50%)
    list-style: none
    li 
        margin: 0 5px
        button 
            font-size: 0 
            border: none 
            width: 10px 
            height: 10px 
            background: #fff 
            border-radius: 50%
            padding: 0 
            outline: none
    .slick-active 
        button
            background: #000
.header 
    display: flex 
    justify-content: flex-end
    align-items: center
    position: absolute 
    width: 100% 
    top: 0
    left: 0
    z-index: 999
.header__menu
    display: flex 
    align-items: center
    padding-top: 50px
    padding-right: 40px
    a 
        color: $main-color 
        text-decoration: none
.header__line
    width: 1px 
    height: 28px
    background: #ADADAD
    margin: 0 28px
.header__login
    img 
        margin-left: 15px
//start header style
.logo 
    position: fixed 
    top: 0 
    left: 0
    z-index: 999
//end header style
.leaf 
    position: absolute 
    bottom: 181px
    right: -42px
.circle 
    right: -39px 
    bottom: 79px
    position: absolute
    z-index: 99
.wrapper
    width: 474px 
    max-width: 90%
    margin-left: auto 
    margin-right: auto
    height: 100%
    display: flex 
    flex-direction: column 
    justify-content: space-between

//start footer style
.footer 
    width: 100% 
    display: flex 
    justify-content: space-between 
    align-items: center
    padding-bottom: 27px
    margin-top: 168px
.footer--full-screen
    margin-top: 50px
.footer__link
    color: $light-grey
    text-decoration: none
    font-size: 15px
.footer__link:hover 
    color: $light-grey
    
//end footer style 

.content-button-wrapper
    margin-top: 38px
.img-bee
    position: absolute 
    top: 100px
    left: -60px
.h1 
    //position: relative
.circles
    position: absolute 
    right: 0 
    top: 197px
.circle-xs
    position: absolute 
    right: 18px
    top: 300px
//start login modal
.login-modal
    position: fixed 
    width: 100% 
    height: 100% 
    top: 0 
    left: 0
    background: rgba(#86C582BF, .75) 
    z-index: 999
    display: none
.login-modal-content
    background: #fff
    position: absolute 
    top: 15% 
    left: 50%
    transform: translateX(-50%)
    padding: 70px 94px 56px 94px
    width: 598px
    
    form 
        width: 100%
.input,
.textarea,
.select
    width: 100%
    height: 45px
    border: 1px solid #E2E2E2
    background: #FFF
    outline: none
    padding: 0 14px
.input::placeholder,
.textarea::placeholder
    color: #1B1B1B
.input:focus::placeholder,
.textarea:focus::placeholder 
    color: transparent
.input-wrapper

    margin-top: 24px
.label 
    font-weight: 600
    color: #1B1B1B
    margin-bottom: 12px
.button 
    width: 100% 
    background: $secondary-color
    border: none 
    color: #fff
    height: 45px
    margin-top: 34px
    border-radius: 50px
    font-weight: 600
    transition: all .3s
    display: flex
    justify-content: center 
    align-items: center
    text-decoration: none
    img 
        margin-right: 15px
.button:hover 
    background: #970F30
    color: #fff
.forgot-password
    text-align: center
    text-decoration: none
    display: block
    color: $main-color
    margin-top: 23px
.forgot-password:hover 
    color: $main-color
.close-modal
    position: absolute 
    top: 20px 
    right: 15px
    cursor: pointer 
.header__login
    cursor: pointer 
.quantity-wrapper
    position: relative
    z-index: 999
    width: 111px
    border: 1px solid #DBDBDB
    display: flex 
    justify-content: space-between
    align-items: center
    height: 50px
    border-radius: 50px
    font-size: 18px 
    font-weight: 600 
    color: #000
    margin-right: 21px
    button 
        outline: none 
        border: none
        height: 100%
        padding: 0 17px
        background: transparent
        font-size: 18px
        font-weight: 600
        color: #000
        
    input 
        width: 100%
        text-align: center 
        border: none 
        height: 100%
        margin: 0 
        padding: 0
        display: block
        outline: none
        font-size: 18px
        font-weight: 600
        color: #000
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
.article
    font-size: 30px
    font-weight: 600
    color: $grey
.content-button-wrapper
    display: flex 
    align-items: center
    margin-bottom: 38px
//end login modal

//start proceed item
.proceed-item
    width: 100% 
    padding: 24px
    border: 1px solid #D4D4D4
    background: #FFF
    position: relative
    cursor: pointer
    margin-bottom: 28px
    min-height: 162px
.proceed-item__arrow
    position: absolute 
    top: 28px 
    right: 26px
    cursor: pointer
.proceed-item:hover
    background: #F8F8F8
    border: 1px solid $green
.proceed-item__content
    display: none
.close-item
    display: none
.proceed-item.active
    background: #F8F8F8
    border: 1px solid $green
    .green-button 
        display: none
    .proceed-item__content
        display: block
    .close-item 
        display: block
    .down-arrow
        display: none
.code-wrapper
    position: relative
.code-button
    height: 24px 
    position: absolute 
    top: 50% 
    right: 0
    transform: translateY(-50%)
    font-size: 14px
    display: flex 
    justify-content: center 
    align-items: center
    padding: 0 17px
    background: transparent 
    border: none
    outline: none
    border-left: 1px solid #BDBDBD
    font-size: 14px 
    font-weight: 600 
    color: #BDBDBD
    pointer-events: none
.code-button:focus 
    outline: none
.code-button.active
    color: #1B1B1B
    pointer-events: all
.proceed-item__content-wrapper
    padding-top: 26px
    display: none
.proceed-item__content-wrapper.active 
    display: block
.error-title
    font-size: 17px 
    font-weight: 600
    margin-bottom: 2px
.code-error
    display: flex
    align-items: flex-start
    img 
        margin-top: 15px
.code-error__content
    padding-left: 24px
.code-wrapper--succes
    .code-button
        display: none
    input 
        background-image: url('../img/succ.svg')
        background-repeat: no-repeat 
        background-position: right 15px center
.input-wrapper--multu
    .input 
        margin-bottom: 10px
.input-row 
    display: flex 
    justify-content: space-between 
    .input 
        width: 48%
.textarea 
    height: 155px 
    padding-top: 9px
.checkbox-wrapper
    display: flex 
    align-items: center
    margin-top: 20px
.checkbox
    display: none
.checkox-label
    width: 32px 
    height: 32px
    border: 1px solid #E2E2E2
    background: #FFF
    margin-right: 6px
    cursor: pointer
.checkbox:checked + .checkox-label
    background: $green
    background-image: url('../img/checkbox.svg')
    background-repeat: no-repeat
    background-position: center
    border: none
.form-footer
    text-align: center
    margin-top: 18px
    font-weight: 600
    padding-bottom: 20px
    a 
        color: #000
    a:hover 
        color: #000
.input--error
    border: 1px solid #F3818B
    background: rgba(243, 129, 139, 0.27)
    color: #B82347
.input--error::placeholder 
    color: #B82347
.form-footer--red
    color: #B82347
    padding-bottom: 0
.select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    background-image: url('../img/triangle.svg')
    background-repeat: no-repeat
    background-position: right 18px center
    cursor: pointer
.pick-up__content
    display: none 
.pick-up__content.active
    display: block
.pick-up__content
    padding-top: 12px
.link 
    color: $main-color 
    text-decoration: underline
.link:hover 
    color: $main-color
    margin-bottom: 36px
//end proceed item

.footer
    .container 
        display: flex
        justify-content: flex-end
        .footer__link 
            margin-left: 58px
.header--static
    position: static
    display: flex
    justify-content: space-between
.logo 
    position: static

//start checkout style
.checkout-page
    padding-top: 60px 
.checkout-table
    margin-top: 24px
    padding: 0 24px 27px 24px
    border: 1px solid #D4D4D4
.product-row
    display: flex 
    align-items: center
    height: 100%
.checkout-table__row
    display: flex
    align-items: center
.checkout__col
    min-height: 146px
    display: flex 
    align-items: center
    font-weight: 600
    position: relative
.checkout__col:first-child
    width: 38.397vw
.checkout__col:nth-child(2)
    width: 20vw
.checkout__col:nth-child(3)
    width: 20vw
.checkout__col:nth-child(4)
    width: 12vw
.checkout-title
    font-size: 18px 
    font-weight: 600
.checkout-title__col
    margin-left: 47px
.price-title
    font-weight: 600
.checkout__title
    position: absolute 
    top: -11px 
    left: 0
    transform: translateY(-100%)
    font-weight: 400
.checkout-title__col
    position: relative
    min-height: 146px
    display: flex 
    align-items: center
.checkout-table__footer
    background: $green
    color: #fff  
    padding: 10px 20px
    font-weight: 400
    display: flex 
    justify-content: space-between
    cursor: pointer
    img 
        margin-left: 35px
.checkout-table__footer-wrapper
    width: 100% 
    display: flex 
    justify-content: space-between
.checkout-delivery-details
    padding-top: 52px
.checkout-delivery-details
    width: 870px 
    max-width: 100% 
    margin-left: auto 
    margin-right: auto
.button-wrapper.flex-end
    display: flex
    justify-content: flex-end
.checkout-delivery-details
    padding-bottom: 30px
    display: none
.down-white
    transition: all .3s
.down-white.active 
    transform: rotate(-180deg)
.product-row
    img 
        width: 90px 
        height: 90px 
        object-fit: cover 
        object-position: center
.add-gift__header
    display: flex 
    justify-content: space-between
    align-items: center
.add-gift-content
    display: none
.add-gift__header
    padding-top: 30px
    p 
        margin-bottom: 0
.add-gift__button
    cursor: pointer 
    align-items: center
    display: flex
    font-size: 14px 
    font-weight: 600
    svg
        margin-left: 15px
.cancel-gift
    font-size: 14px
    font-weight: 600
.button-wrapper
    align-items: center
    margin-top: 19px
    .green-button
        margin-top: 0
        margin-left: 20px
.checkout-footer
    display: flex 
    justify-content: space-between
    margin-top: 16px
    .checkbox-wrapper 
        margin-bottom: 20px
        margin-top: 0
.checkout-footer__col--right
    text-align: right
    font-size: 18px
.light-grey
    color: $light-grey
.semi-bold
    font-weight: 600
.checkout-button
    width: 335px 
    height: 45px 
    font-size: 16px 
    text-decoration: none
    display: flex 
    justify-content: center 
    align-items: center
.checkout-button:hover 
    color: #fff
.add-gift__button 
    svg 
        fill:#444444
.checkout-table
    .checkout__title
        display: none
.checkout-table:first-child 
    .checkout__title
        display: block
.payment-getway
    display: flex 
    flex-direction: column 
    justify-content: center 
    align-items: center
    min-height: calc(100vh - 150px)
    .h1 
        margin-bottom: 50px
//end checkout style 
.footer--static 
    margin-top: 40px

.spiner
    animation: spin 3s linear infinite
@keyframes spin
    100%
        transform: rotate(360deg)
.full-screen-page
    background: url('../img/thank-you-bg.svg')
    background-size: 90vw
    background-position: right 10vw top 0vw
    min-height: calc(100vh - 102px)
    background-repeat: no-repeat
    display: flex 
    justify-content: center 
    align-items: center
    .h1 
        margin-bottom: 47px
.full-screen-page
    text-align: center
.title-18
    margin-bottom: 26px
    font-size: 18px
    font-weight: 600
    color: $secondary-color
.full-screen-page
    .h2 
        margin-bottom: 37px
.back-link
    color: $main-color
    text-decoration: none
.back-link:hover
    color: $main-color
.login-form
    .input-wrapper 
        text-align: left

//start account style
.account-page
    padding-top: 60px
    .h2 
        margin-bottom: 76px
.tab 
    font-size: 18px 
    cursor: pointer
    margin-bottom: 13px
    display: block
    text-decoration: none 
    color: $main-color
.tab:hover 
    color: $main-color
.tab.active 
    font-weight: 700
.tab__item
    display: none
.tab__item:first-child 
    display: block
.account-row
    display: flex
.tabs
    min-width: 268px
.tab__item
    p 
        width: 721px 
        max-width: 100%
.orders-row
    display: flex 
    width: 100%
    border-bottom: 1px solid #DCDCDC
    padding: 17px 22px
    padding-right: 0
    font-size: 14px
    text-decoration: none 
    color: $main-color
.orders-row:hover
    color: $main-color
.orders-row:hover 
    background: #F7F7F7
    .order-arrow
        opacity: 1
.orders-row--header:hover 
    background: #fff
.orders-col
    width: 20%
.tab-items
    width: 100%
.orders-row--header
    font-weight: 600
.orders-col
    display: flex 
    align-items: center
.order-arrow
    margin-left: 30px
    opacity: 0
.mobil-title
    display: none
.view-order
    display: none
.account-page--order
    
    .tab__item 
        display: none 
    .tab__item:nth-child(2)
        display: block
.title-18--black
    color: $main-color
.order-detail-table
    font-size: 14px
    margin-bottom: 40px
.order-detail-row
    display: flex
    border-bottom: 1px solid #DCDCDC
    padding-top: 18px 
    padding-bottom: 18px
.order-detail__col:first-child 
    width: 70%
.order-detail__col:nth-child(2) 
    width: 30%
.title-16 
    font-size: 16px
.order-detail-row:last-child 
    border-bottom: none
.account-page
    padding-bottom: 30px
.back-order
    display: none
//end account style 

//start admin style
.admin-login
    display: flex
    height: 100vh
.admin-ligin-img
    height: 100%
    width: 36% 
    object-fit: cover 
    object-position: center
.admin-login__content
    width: calc(100% - 36%)
    display: flex 
    align-items: center 
    justify-content: center
.admin-login-form
    width: 425px 
    max-width: 90%
    margin-left: auto 
    margin-right: auto
.admin-login-title
    font-size: 38px
    font-family: $secondary-font
    font-weight: 500
.admin-login-footer
    text-align: left
    a.forgot-password
        margin-left: 0
        text-align: left
    .button 
        width: 238px
.admin-header 
    background: $green
    color: #fff
    padding-left: 23px 
    padding-right: 23px
.admin-logo
    img 
        width: 77px 
.admin-header
    display: flex 
    justify-content: space-between 
    align-items: center
.admin-menu-wrapper
    display: flex 
    align-items: center
.admin-link
    margin-left: 25px
    color: #fff 
    text-decoration: none
.admin-link:hover 
    color: #fff
.user-wrapper
    padding-left: 35px
    padding-right: 35px
    display: flex 
    align-items: center
    cursor: pointer
    img:first-child
        margin-right: 16px
        display: block
    img:last-child 
        margin-left: 13px
.menu-row
    width: 30px 
    height: 2px 
    margin-bottom: 5px
    background: #fff
.menu-row:last-child 
    margin-bottom: 0
.menu-btn
    display: none

.dashboard
    background: #F7F7F7
    min-height: calc(100vh - 77px)
    display: flex 
    justify-content: center 
    align-items: center
.dashboard__row
    text-align: center
.dashboard__item
    height: 257px
    border: 1px solid #DCDCDC
    display: flex 
    align-items: center 
    justify-content: center
.dashboard__item
    font-size: 30px
    text-decoration: none
    color: $main-color
    transition: all .3s
    position: relative
.next-arrow
    position: absolute 
    bottom: 19px 
    right: 32px
    opacity: 0
    transition: all .3s
.dashboard__item:hover 
    color: $main-color 
    background: #fff
    .next-arrow
        opacity: 1
.opacity-animation
    animation: fadeInFromNone 10s linear infinite
@-webkit-keyframes fadeInFromNone
    0%
        opacity: 0.3
    50%
        opacity: 0.95
    100%
        opacity: 0.3
.rotate-animation
    animation: rotate 10s linear infinite
@-webkit-keyframes rotate
    0%
        transform: rotate(25deg)
    50%
        transform: rotate(0deg)
    100%
        transform: rotate(25deg)
.circle-rotate-animation
    animation: circle-rotate 10s linear infinite
@-webkit-keyframes circle-rotate
    0%
        transform: translateX(0) translateY(0)
    20%
        transform: translateX(-20px) translateY(-45px)
    50%
        transform: translateX(0px) translateY(-100px)
    70%
        transform: translateX(-20px) translateY(-45px)
    100%
        transform: translateX(0px) translateY(0px)
//end admin style

.dashboard__header
    padding-top: 63px 
    padding-bottom: 27px
    background: #F7F7F7
    .container 
        display: flex
.dashboard__header-left
    width: 30%
    border-right: 1px solid #CCCCCC
    min-height: 100%
.dashboard__header-right
    width: 70%
.dasgboard__sub-title
    font-size: 16px 
    font-weight: 600
    color: $secondary-color
.dashboard__title
    font-size: 30px
    text-transform: capitalize
.dashboard__header-right
    padding-left: 5%
.dashboard__header-right-header
    display: flex 
    justify-content: space-between 
    align-items: center
.date-wrapper
    display: flex 
    align-items: center
    span 
        color: $green 
        font-weight: 600
        margin-right: 5px
    img 
        margin-right: 12px
.export-button
    display: flex 
    align-items: center
    display: flex
    justify-content: center 
    align-items: center
    width: 190px 
    height: 40px
    border-radius: 20.5px
    border: 1px solid #E4E4E4
    color: $green 
    text-decoration: none
    transition: all .3s
    svg 
        margin-left: 15px
        fill: $green
.export-button:hover 
    background: $green
    color: #fff
    svg 
        fill: #fff

.selects-row
    display: flex 
    justify-content: space-between
    .input-wrapper 
        width: 32%
.select2
    background-image: url(../img/triangle.svg)
    background-repeat: no-repeat
    background-position: right 18px center  
.input--right
    text-align: right
.input--right::placeholder
    color: #B8B8B8
.dashboard-table 
    width: 1286px
    margin-left: auto 
    margin-right: auto
    padding-top: 78px
    margin-bottom: 79px
.dashboard-table__wrapper
    width: 85%
    margin-left: auto 
    margin-right: auto
    overflow: auto
.dashboard-table-row
    display: flex
    border-bottom: 1px solid #DCDCDC
    padding-top: 17px 
    padding-bottom: 17px
    font-size: 14px
.dashboard-table-col:first-child
    width: 140px
.dashboard-table-col:nth-child(2)
    width: 175px
.dashboard-table-col:nth-child(3)
    width: 140px
.dashboard-table-col:nth-child(4)
    width: 130px
.dashboard-table-col:nth-child(4)
    width: 130px
.dashboard-table-col:nth-child(5)
    width: 150px
.dashboard-table-col:nth-child(6)
    width: 170px
.dashboard-table-col:nth-child(7)
    width: 140px
.dashboard-table-col:nth-child(8)
    width: 150px
.dashboard-table-col:nth-child(9)
    width: 150px
.dashboard-table-row--header
    font-weight: 600
.table-button
    display: flex 
    justify-content: center 
    align-items: center
    width: 150px
    height: 35px 
    background: $secondary-color 
    color: #fff
    text-decoration: none
    border-radius: 50px
    transition: all .3s
.table-button:hover
    background: #970F30
    color: #fff
.table-button--purple
    background: #D37EFB
.table-button--purple:hover
    background: #CD63FF
.table-button--yellow
    background: #E5A443
.table-button--yellow:hover
    background: #E1931E
.table-button--green
    background: #86C582
.table-button--green:hover
    background: #72AB6E
.green 
    color: $green
.pagination-wrapper
    margin-bottom: 75px
    span 
        margin: 0 10px
    .container
        display: flex 
        align-items: center
        justify-content: center
.pagination-item
    width: 40px 
    height: 40px 
    display: flex 
    justify-content: center 
    align-items: center
    color: $main-color 
    text-decoration: none
    border: 1px solid #DCDCDC
    border-radius: 5px
    margin: 0 4px
    svg 
        fill: $main-color
.pagination-item:hover 
    background: $green
    color: #fff
    border-color: $green
    svg 
        fill: #fff
.selects-row--2
    .input-wrapper
        width: 49%
.selects-row--xs
    width: 520px 
    max-width: 100%
.dashboard__header-right--2
    display: flex
    justify-content: flex-end
.table-button--no-active,
.table-button--no-active:hover
    background: #CECECE
.dasgboard__sub-title--back
    position: relative
.order-back
    position: absolute 
    top: 50% 
    left: -10px
    transform: translateX(-100%) translateY(-50%)
.dashboard__header-right--right
    text-align: right
.dashboard__header-footer
    margin-top: 39px
    .container  
        display: flex 
        justify-content: space-between 
        align-items: center
.dashboard__header-details
    display: flex
.status
    color: $green
    font-weight: 600
    display: flex 
    align-items: center
    span 
        width: 7px 
        height: 7px 
        background: $green 
        border-radius: 50%
        display: block
        margin-right: 13px
.dashboard__header-details-item
    font-weight: 600
    padding-left: 18px 
    padding-right: 18px
    border-right: 1px solid $light-grey
    line-height: 1
.dashboard__header-details-item:first-child 
    padding-left: 0
.dashboard__header-details-item:last-child 
    border-right: none
.dashboard__header-left--no-border
    border-right: none
.dashboard-form
    width: 800px 
    max-width: 90%
    margin-left: auto 
    margin-right: auto 
    display: flex
    margin-top: 80px
    display: flex 
    justify-content: space-between
    margin-bottom: 100px
    position: relative
    .input 
        background: #F7F7F7
    .textarea 
        background: #F7F7F7
.form-col
    width: 48%
.edit-btn
    cursor: pointer
    position: absolute 
    top: 30px 
    right: 0
.orders-table--admin
    margin-top: 78px
    margin-bottom: 100px
    .orders-row
        position: relative
    .order-arrow
        position: absolute 
        right: 30px 
    .orders-col:first-child
        width: 30%
    .orders-col:nth-child(2)
        width: 55%
    .orders-col:nth-child(3)
        width: 15%
.orders-table--3
    margin-top: 78px
    margin-bottom: 130px
    .orders-row
        position: relative
    .orders-col:first-child
        width: 40%
    .orders-col:nth-child(2)
        width: 25%
    .orders-col:nth-child(3)
        width: 20%
    .orders-col:nth-child(4)
        width: 10%
    .order-arrow
        position: absolute 
        right: 30px 
.dashboard-form--3
    margin-top: 0
    margin: 0
    
.dashboard__header--2
    padding-bottom: 60px
    
.table-input
    width: 100px 
    height: 40px
    border: 1px solid #E4E4E4
    padding: 0 12px 
    outline: none
.orders-table--sm
    .orders-row:hover
        background: #fff
.orders-table--sm2
    margin-bottom: 100px
    .orders-row
        display: flex 
        justify-content: space-between
        align-items: center
@import "media"




